*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    z-index: 997;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}



.header {
    z-index: 997;
    position: absolute;
    padding: 30px 0;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-nav .nav-item .nav-link{
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    color: white;
  
}
.navbar-nav .nav-item .nav-link:after{
    content: "";
    display: block;
    height: 4px;
    background-color: #feb900;
    transform: scale(0);
    transform-origin:left ;
    transition: transform 0.3s ease;

    
}
.info{
    background-color:rgba(0, 0, 0, 0.7);
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
   
    color:white;
}

.navbar-nav .nav-item .nav-link:hover::after{
    transform: scale(1);
}
 
.hero .info {
    position: absolute;
    inset: 0px;
    z-index: 5;
}
.hero .carousel {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0px;
    margin: 0px;
    position: relative;
}
.hero .carousel-item {
    position: absolute;
    inset: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    transition-duration: 0.4s;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out 0s;
}
.hero .info h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 56px;
    font-weight: 700;
    position: relative;
}



.hero .info h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 4px;
    background:#feb900;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

.hero .info p{
 color: white;
 font-size: large;
}
a .btn{
    border: #feb900 2px solid;
    border-radius:20px ;
    color: white;
    font-weight: bold;
}
a .btn:hover{
   background-color: #feb900;
   color: white;
}
header h2 span{
    color: #feb900;
}
.main{
    padding: 60px 0;
    background-color:whitesmoke;

}
#form{
    background-color: white;
}
#form button{
 background-color:#feb900;
 border: none;
 color: white;
 padding: 10px;
 border-radius: 10px;
}
.main h1{
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

#form h3{
    font-size: 20px;
}
.services{
    background-color: whitesmoke;
}
#services{
    background-color: whitesmoke;
}


.constructions h2:before,.constructions h2:after {
    content: "";
    width: 50px;
    height: 3px;
    margin-bottom: 8px;
    background:#feb900;
    display: inline-block;
}
.content h1:after {
    content:"";
    position: absolute;
    display: block;
    width: 80px;
    height: 4px;
    background:#feb900;
    bottom: 30;
    margin-top: 15px;
}

.services h2:before,.services h2:after {
    content: "";
    width: 60px;
    height: 3px;
    margin-bottom: 8px;
    background:#feb900;
    display: inline-block;
}

.projects h2:before,.projects h2:after {
    content: "";
    width: 60px;
    height: 3px;
    margin-bottom: 8px;
    background:#feb900;
    display: inline-block;
}

.testimonials h2:before,.testimonials h2:after {
    content: "";
    width: 60px;
    height: 3px;
    margin-bottom: 8px;
    background:#feb900;
    display: inline-block;
}


.blog h2:before,.blog h2:after {
    content: "";
    width: 60px;
    height: 3px;
    margin-bottom: 8px;
    background:#feb900;
    display: inline-block;
}




.service-item {
    padding: 40px;
    background: #fff;
    height: 100%;
}



 .service-item h3 {
    color:black;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #ebebed;
    transition: 0.3s;
}


.service-item:hover h3 {
    border-color: #feb900;
}
.services .service-item .icon:before {
    position: absolute;
    content: "";
    height: 15%;
    width: 15%;
    background: #f0f1f2;
    border-radius: 50px;
    z-index: 1;
    top: 10px;
    right: 68%;
    transition: 0.3s;
}


.services .service-item:hover .icon:before {
    background:#feb900;
}
.services a{
    text-decoration: none;
    color: #feb900;
}
.alt-services a{
    text-decoration: none;
    color: black;
}
.alt-services i{
    color: #feb900;
}
.alt-services .icon-box i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    font-size: 28px;
    width: 56px;
    height: 56px;
    
    border-radius: 4px;
    line-height: 0;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    transition: 0.3s;
} 


.services .service-item .icon i {
    font-size: 40px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
   bottom: 20px;
}

.alt-services .icon-box:hover i {
    background-color:#feb900;
    color: #fff;
}


.features .nav-link.active {
    color:#feb900;
    background-color: transparent;
    border-color: #feb900;
}

.features .nav-link {
    padding: 15px 0;
    transition: 0.3s;
    color:rgb(40, 38, 38);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    border: 0;
    border-bottom: 4px solid #e2e4e6;
}

.tab-content i{
    color: #feb900;
}

.features {
background-color: whitesmoke;
}

.projects li{
    display: inline;
    padding: 20px;
    font-weight:500;
}
.projects .portfolio-content .portfolio-info {
    opacity: 0;
    position: absolute;
    inset: 0;
    z-index: 3;
    transition: all ease-in-out 1s;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
}


.projects .portfolio-content {
    position: relative;
    overflow: hidden;
}

.projects .portfolio-content:hover .portfolio-info {
    opacity: 1;
    
}

.projects .portfolio-content img:hover{
    transform: scale(1.5);
}

.projects .portfolio-content .portfolio-info p {
    position: absolute;
    bottom: 10px;
    text-align: center;
    display: inline-block;
    left: 0;
    right: 0;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
}


.projects .portfolio-content .portfolio-info h4 {
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    background-color: #feb900;
}
.projects .portfolio-content .portfolio-info a i{
 

display: inline-block;   
    
}

.projects .portfolio-content:hover img {
    transform: scale(1.1);
    transition: 1s;
  }

  
.projects .portfolio-content .portfolio-info .preview-link,
.projects .portfolio-content .portfolio-info .details-link {
  position: absolute;
  left: calc(50%);
  font-size: 16px;
  top: calc(50% );
  color: #fff;
  transition: 0.3s;
  line-height: 1.2;
 
}

.projects .portfolio-content .portfolio-info .preview-link{
    position: absolute;
    left: calc(40%);
    font-size: 16px;
    top: calc(50% );
    color: #fff;
    transition: 0.3s;
    line-height: 1.2;
   
}

.projects .portfolio-content .portfolio-info .preview-link:hover,
.projects .portfolio-content .portfolio-info .details-link:hover{
    color: #feb900;
}

.testimonials{
    background-color: whitesmoke;
}

.testimonials i{
    color: #feb900;
}

.testimonials .testimonial-item{
    background-color: white;
   
}




.testimonials .testimonial-item{
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 0 15px 30px 0;
    min-height: 90px;
    box-shadow: 0px 2px 20px rgba(82, 86, 94, 0.1);
    position: relative;
    background: #fff;
    
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 10px;
    border: 6px solid #fff;
    position: absolute;
    left: -45px;
}



.card span h5 {
    position: absolute;
    right: 0;
    bottom:0px;
    background-color:#feb900;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 12px;
    font-weight: 500;
}
.position-relative {
    position: relative!important;
}

.overflow-hidden {
    overflow: hidden!important;
}
 .card{
    background-color:white;
    border: none;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
 } 
 .card{
         margin: 0 15px 30px 0;
 }

.card-body a{
    text-decoration: none;
    color:  #838893;
}
.card h3{
    color:  #838893;
}
.card-body{
    color: #838893;
}
.card-body #i i{
    color: #feb900;
}

.card-group .card  .card-body :hover{
    color: #feb900;
}
.card img:hover{
  transform: scale(1.1);
  transition: 1s;
}

.footer {
    color: #fff;
    background: url(../image/footer-bg.jpg) top center no-repeat;
    background-size: cover;
    font-size: 14px;
    padding: 100px 0 60px 0;
    position: relative;
  }

.footer:before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    inset: 0;
  }
 .footer  a{
    text-decoration: none;
 }

 .footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-content .footer-links a {
  color:#838893;
  
  }

  .footer .footer-content h4 {
    padding-bottom: 12px;
}
 
.footer i{
    color: white;
}
.footer2 a{
    color:#feb900;
}

.footer .footer-content .footer-links{
    margin-bottom: 30px;
  }
.footer .footer-content .footer-links ul li {
    padding: 8px 0;
}
.social-links a i{
    padding: 10px;  
   
}
  
.footer .footer-content .social-links a {
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    padding-top: 9px;
    border-radius: 4px;
    height: 40px;
}
    

.footer  .copyright {
    padding-top: 40px;
    border-top: 2px solid rgba(255, 255, 255, 0.15);
}

.footer .footer-links a:hover{
    color: white;
}

.footer  .social-links a:hover{
    background-color: rgb(254, 185, 0);
    
}

.tab-content ul li{
    list-style-type: none;
}